
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Web_1920__8 {
	position: absolute;
	width: 1920px;
	height: 1425px;
	background: linear-gradient(151.8deg, rgba(49,49,50,1) 0%, rgba(22,22,24,1) 100%);
	overflow: hidden;

}
#art-hand-printing-paint-color- {
	position: absolute;
	width: 298.007px;
	height: 298.007px;
	left: -20.141px;
	top: -14.003px;
	overflow: visible;
	cursor: pointer;
}
#Rectangle_1 {
	opacity: 0.22;
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_1 {
	position: absolute;
	overflow: visible;
	width: 772px;
	height: 48px;
	left: 416px;
	top: 87px;
}
#Icon_open-magnifying-glass {
	opacity: 0.57;
	fill: rgba(0,0,0,1);
}
.Icon_open-magnifying-glass {
	overflow: visible;
	position: absolute;
	width: 37.945px;
	height: 36.633px;
	left: 1133.055px;
	top: 92.683px;
	transform: matrix(1,0,0,1,0,0);
}
#Search {
	opacity: 0.57;
	left: 763px;
	top: 91px;
	position: absolute;
	overflow: visible;
	width: 144px;
	height: 35px;
	text-align: left;
	font-family: Rockwell;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(252,252,252,1);
}
#Line_1 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_1 {
	overflow: visible;
	position: absolute;
	width: 152px;
	height: 1px;
	left: 1273.5px;
	top: 129.317px;
	transform: matrix(1,0,0,1,0,0);
}
#About_us {
	left: 1490px;
	top: 89px;
	position: absolute;
	overflow: visible;
	width: 131px;
	height: 35px;
	cursor: pointer;
	text-align: left;
	font-family: Rockwell;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(252,252,252,1);
}
#Submit {
    left: 1704px;
    top: 89px;
    position: absolute;
    overflow: visible;
    width: 100px;
    height: 40px;
    cursor: pointer;
    text-align: left;
    font-family: Rockwell;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(252,252,252,1);
}
#Line_2 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_2 {
	overflow: visible;
	position: absolute;
	width: 152px;
	height: 1px;
	left: 1478.5px;
	top: 129.317px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_3 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_3 {
	overflow: visible;
	position: absolute;
	width: 152px;
	height: 1px;
	left: 1677px;
	top: 129px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_2 {
	opacity: 0.45;
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2 {
	position: absolute;
	overflow: visible;
	width: 8px;
	height: 1061px;
	left: 232px;
	top: 0px;
}
#PAINTINGS {
	left: 871px;
	top: 237px;
	position: absolute;
	overflow: visible;
	width: 415px;
	height: 82px;
	text-align: left;
	font-family: Rockwell;
	font-style: normal;
	font-weight: bold;
	font-size: 70px;
	color: rgba(252,252,252,1);
}
#n_dcb60b1749f754076ea67a82c311 {
	position: absolute;
	width: 300px;
	height: 381px;
	left: 437px;
	top: 651px;
	overflow: visible;
}
#n_7-birds-jennifer-lommers {
	position: absolute;
	width: 290px;
	height: 242px;
	left: 773px;
	top: 761px;
	overflow: visible;
}
#n_9046 {
	position: absolute;
	width: 555px;
	height: 555px;
	left: 1122px;
	top: 359px;
	overflow: visible;
}
#b03edf1068bc9139d4ec4ad697ab25 {
	position: absolute;
	width: 216px;
	height: 269px;
	left: 521px;
	top: 359px;
	overflow: visible;
}
#cbc662299bd35357e519fe867444b8 {
	position: absolute;
	width: 300px;
	height: 374px;
	left: 773px;
	top: 359px;
	overflow: visible;
}
#httpspixelscomartpaintings {
	left: 1367px;
	top: 1012px;
	position: absolute;
	overflow: visible;
	width: 463px;
	height: 40px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(60,105,209,1);
}
#Group_2 {
	position: absolute;
	width: 1920px;
	height: 355.452px;
	left: 0px;
	top: 1061px;
	overflow: visible;
}
#Rectangle_3 {
	opacity: 0.4;
	fill: rgba(0,0,0,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_3 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 355px;
	left: 0px;
	top: 0.452px;
}
#art-hand-printing-paint-color-_ {
	position: absolute;
	width: 177.459px;
	height: 177.459px;
	left: 871.159px;
	top: 0px;
	overflow: visible;
}
#Icon_awesome-instagram {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-instagram {
	overflow: visible;
	position: absolute;
	width: 51.402px;
	height: 52.092px;
	left: 806.799px;
	top: 208.706px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_awesome-twitter {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-twitter {
	overflow: visible;
	position: absolute;
	width: 50.468px;
	height: 46.033px;
	left: 931.532px;
	top: 208.706px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_awesome-facebook {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-facebook {
	overflow: visible;
	position: absolute;
	width: 59.213px;
	height: 52.092px;
	left: 1035.894px;
	top: 205.676px;
	transform: matrix(1,0,0,1,0,0);
}
#About_us_ {
	left: 762px;
	top: 164.452px;
	position: absolute;
	overflow: visible;
	width: 90px;
	height: 27px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(252,252,252,1);
}
#FAQ {
	left: 938px;
	top: 164.452px;
	position: absolute;
	overflow: visible;
	width: 45px;
	height: 27px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(252,252,252,1);
}
#Contact_us_ {
	left: 1071px;
	top: 164.452px;
	position: absolute;
	overflow: visible;
	width: 104px;
	height: 27px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(252,252,252,1);
}
#Tagong_Sining_All_rights_reser {
	left: 838px;
	top: 283.452px;
	position: absolute;
	overflow: visible;
	width: 228px;
	height: 20px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(252,252,252,1);
}
#Collection {
	left: 1275px;
	top: 87px;
	position: absolute;
	overflow: visible;
	width: 151px;
	height: 35px;
	text-align: left;
	font-family: Rockwell;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(252,252,252,1);
}
a{
    color: white;
    text-decoration: none;
}