
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Web_1920__5 {
	position: absolute;
	width: 1920px;
	height: 1425px;
	background: linear-gradient(151.8deg, rgba(49,49,50,1) 0%, rgba(22,22,24,1) 100%);
	overflow: hidden;

}
#art-hand-printing-paint-color- {
	position: absolute;
	width: 298.007px;
	height: 298.007px;
	left: -20.141px;
	top: -14.003px;
	overflow: visible;
}
#Rectangle_1 {
	opacity: 0.22;
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_1 {
	position: absolute;
	overflow: visible;
	width: 772px;
	height: 48px;
	left: 416px;
	top: 87px;
}
#Icon_open-magnifying-glass {
	opacity: 0.57;
	fill: rgba(0,0,0,1);
}
.Icon_open-magnifying-glass {
	overflow: visible;
	position: absolute;
	width: 37.945px;
	height: 36.633px;
	left: 1133.055px;
	top: 92.683px;
	transform: matrix(1,0,0,1,0,0);
}
#Search {
	opacity: 0.57;
	left: 763px;
	top: 91px;
	position: absolute;
	overflow: visible;
	width: 144px;
	height: 35px;
	text-align: left;
	font-family: Rockwell;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(252,252,252,1);
}
#Line_1 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_1 {
	overflow: visible;
	position: absolute;
	width: 152px;
	height: 1px;
	left: 1273.5px;
	top: 129.317px;
	transform: matrix(1,0,0,1,0,0);
}
#About_us {
	left: 1490px;
	top: 89px;
	position: absolute;
	overflow: visible;
	width: 142px;
	height: 35px;
	text-align: left;
	font-family: Rockwell;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(252,252,252,1);
}
#Submit {
	left: 1706px;
	top: 89px;
	position: absolute;
	overflow: visible;
	width: 107px;
	height: 35px;
	text-align: left;
	font-family: Rockwell;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(252,252,252,1);
}
#Line_2 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_2 {
	overflow: visible;
	position: absolute;
	width: 152px;
	height: 1px;
	left: 1478.5px;
	top: 129.317px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_3 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_3 {
	overflow: visible;
	position: absolute;
	width: 152px;
	height: 1px;
	left: 1677px;
	top: 129px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_2 {
	opacity: 0.45;
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2 {
	position: absolute;
	overflow: visible;
	width: 8px;
	height: 1070px;
	left: 232px;
	top: 0px;
}
#THE_TEAM {
	left: 866px;
	top: 215px;
	position: absolute;
	overflow: visible;
	width: 410px;
	height: 82px;
	text-align: left;
	font-family: Rockwell;
	font-style: normal;
	font-weight: bold;
	font-size: 70px;
	color: rgba(252,252,252,1);
}
#Group_2 {
	position: absolute;
	width: 1920px;
	height: 355.452px;
	left: 0px;
	top: 1069.548px;
	overflow: visible;
}
#Rectangle_3 {
	opacity: 0.4;
	fill: rgba(0,0,0,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_3 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 355px;
	left: 0px;
	top: 0.452px;
}
#art-hand-printing-paint-color-_ {
	position: absolute;
	width: 177.459px;
	height: 177.459px;
	left: 871.159px;
	top: 0px;
	overflow: visible;
}
#Icon_awesome-instagram {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-instagram {
	overflow: visible;
	position: absolute;
	width: 51.402px;
	height: 52.092px;
	left: 806.799px;
	top: 208.706px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_awesome-twitter {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-twitter {
	overflow: visible;
	position: absolute;
	width: 50.468px;
	height: 46.033px;
	left: 931.532px;
	top: 208.706px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_awesome-facebook {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-facebook {
	overflow: visible;
	position: absolute;
	width: 59.213px;
	height: 52.092px;
	left: 1035.894px;
	top: 205.676px;
	transform: matrix(1,0,0,1,0,0);
}
#About_us_ {
	left: 762px;
	top: 164.452px;
	position: absolute;
	overflow: visible;
	width: 90px;
	height: 27px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(252,252,252,1);
}
#FAQ {
	left: 938px;
	top: 164.452px;
	position: absolute;
	overflow: visible;
	width: 45px;
	height: 27px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(252,252,252,1);
}
#Contact_us_ {
	left: 1071px;
	top: 164.452px;
	position: absolute;
	overflow: visible;
	width: 104px;
	height: 27px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(252,252,252,1);
}
#Tagong_Sining_All_rights_reser {
	left: 838px;
	top: 283.452px;
	position: absolute;
	overflow: visible;
	width: 228px;
	height: 20px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(252,252,252,1);
}
#Collection {
	left: 1275px;
	top: 87px;
	position: absolute;
	overflow: visible;
	width: 151px;
	height: 35px;
	text-align: left;
	font-family: Rockwell;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(252,252,252,1);
}
#Image_4 {
	position: absolute;
	width: 263px;
	height: 263px;
	left: 578px;
	top: 659px;
	overflow: visible;
}
#n_8356006_2013881312025214_504 {
	position: absolute;
	width: 262px;
	height: 262px;
	left: 940px;
	top: 322px;
	overflow: visible;
}
#Vincent_Gonzales {
	left: 590px;
	top: 598px;
	position: absolute;
	overflow: visible;
	width: 240px;
	white-space: nowrap;
	text-align: left;
	font-family: Sitka Display;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#Angelo_Sosa {
	left: 974px;
	top: 936px;
	position: absolute;
	overflow: visible;
	width: 168px;
	white-space: nowrap;
	text-align: left;
	font-family: Sitka Display;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#Roddick_Rullan {
	left: 1309px;
	top: 598px;
	position: absolute;
	overflow: visible;
	width: 210px;
	white-space: nowrap;
	text-align: left;
	font-family: Sitka Display;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#Erick_Tolentino {
	left: 598px;
	top: 936px;
	position: absolute;
	overflow: visible;
	width: 212px;
	white-space: nowrap;
	text-align: left;
	font-family: Sitka Display;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#Louie_Sabularse {
	left: 960px;
	top: 598px;
	position: absolute;
	overflow: visible;
	width: 219px;
	white-space: nowrap;
	text-align: left;
	font-family: Sitka Display;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#Ronin_Socorro {
	left: 1306px;
	top: 934px;
	position: absolute;
	overflow: visible;
	width: 199px;
	white-space: nowrap;
	text-align: left;
	font-family: Sitka Display;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#Mask_Group_1 {
	position: absolute;
	width: 274px;
	height: 264px;
	left: 1274px;
	top: 323px;
	overflow: visible;
}
#Mask_Group_2 {
	position: absolute;
	width: 268px;
	height: 265px;
	left: 578px;
	top: 322px;
	overflow: visible;
}
#Mask_Group_3 {
	position: absolute;
	width: 276px;
	height: 264px;
	left: 1272px;
	top: 659px;
	overflow: visible;
}
#Mask_Group_4 {
	position: absolute;
	width: 276px;
	height: 264px;
	left: 933px;
	top: 658px;
	overflow: visible;
}a{
	color: white;
	text-decoration: none;
}#Collection ul{
    display: none;
    position: absolute;
    z-index: 1;
    padding: 10px;
    top: 40px;
    left:-15px;
    background-color: #313132;
    list-style-type: none;
}
#Collection:hover ul{
    display: block;

}
#Collection ul li{
    width:200px;
    padding: 10px;}

#Collection ul li a:hover{
    padding: 5px;}    